.categoryselect{margin-right:10px;}
.next{font-weight: normal; padding: 4px 8px; background: #DDDDDD; color: #333; border: 1px solid #000; text-decoration: none; text-shadow: #fff 0px 1px 0px; min-width: 0;}
.next:hover {background: #777777;color: #fff;}